In [1]:
import numpy as np
import pandas as pd

In [2]:
import plotly.graph_objects as go
import plotly.express as px

import pandas as pd

In [3]:
import plotly.io as pio
pio.renderers.default = 'iframe'

In [4]:
pip install openpyxl

Requirement already satisfied: openpyxl in d:\anaconda\envs\ds_toolkit\lib\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in d:\anaconda\envs\ds_toolkit\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [72]:
df_migros=pd.read_csv("migros_all_data.csv")
df_migros

    Unnamed: 0  zipcode  population  store_count_migros  store_count_coop
0            1     8001        5468                   3                 5
1            2     8002        9696                   2                 2
2            3     8003       20210                   1                 2
3            4     8004       26855                   3                 3
4            5     8005       15555                   4                 6
5            6     8006       18284                   1                 2
6            7     8008       17254                   4                 4
7            8     8032       17921                   0                 1
8            9     8037       16008                   2                 2
9           10     8038       17634                   2                 2
10          11     8041        8200                   2                 1
11          12     8044       11334                   1                 1
12          13     8045       11117                   1                 3
13          14     8046       25366                   1                 2
14          15     8047       20818                   3                 3
15          16     8048       30033                   2                 6
16          17     8049       23706                   1                 4
17          18     8050       29922                   1                 6
18          19     8051       22426                   1                 2
19          20     8052       20014                   1                 1
20          21     8053       11151                   2                 1
21          22     8055       19559                   1                 1
22          23     8057       21786                   1                 1
23          24     8064        3622                   1                 0

In [73]:
df_new=df_migros.drop(columns=['Unnamed: 0'])
df_new["zipcode"] = df_new["zipcode"].astype(str)
df_new["total_stores"]=df_new["store_count_migros"]+df_new["store_count_coop"]
df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   zipcode             24 non-null     object
 1   population          24 non-null     int64
 2   store_count_migros  24 non-null     int64
 3   store_count_coop    24 non-null     int64
 4   total_stores        24 non-null     int64
dtypes: int64(4), object(1)
memory usage: 1.1+ KB

In [74]:
fig = px.scatter_matrix(df_new)
fig.show()

In [75]:
df_new["migros_share"]=df_new["store_count_migros"]/(df_new["store_count_migros"]+df_new["store_count_coop"])
df_new["coop_share"]=df_new["store_count_coop"]/(df_new["store_count_migros"]+df_new["store_count_coop"])
df_new["density of stores"]=df_new["total_stores"]*10000/df_new["population"]
df_new

,zipcode,population,store_count_migros,store_count_coop,total_stores,migros_share,coop_share,density of stores
0,8001,5468,3,5,8,0.375000,0.625000,14.630578
1,8002,9696,2,2,4,0.500000,0.500000,4.125413
2,8003,20210,1,2,3,0.333333,0.666667,1.484414
3,8004,26855,3,3,6,0.500000,0.500000,2.234221
4,8005,15555,4,6,10,0.400000,0.600000,6.428801
5,8006,18284,1,2,3,0.333333,0.666667,1.640779
6,8008,17254,4,4,8,0.500000,0.500000,4.636606
7,8032,17921,0,1,1,0.000000,1.000000,0.558005
8,8037,16008,2,2,4,0.500000,0.500000,2.498751
9,8038,17634,2,2,4,0.500000,0.500000,2.268345
10,8041,8200,2,1,3,0.666667,0.333333,3.658537
11,8044,11334,1,1,2,0.500000,0.500000,1.764602
12,8045,11117,1,3,4,0.250000,0.750000,3.598093
13,8046,25366,1,2,3,0.333333,0.666667,1.182685
14,8047,20818,3,3,6,0.500000,0.500000,2.882121
15,8048,30033,2,6,8,0.250000,0.750000,2.663737
16,8049,23706,1,4,5,0.200000,0.800000,2.109171
17,8050,29922,1,6,7,0.142857,0.857143,2.339416
18,8051,22426,1,2,3,0.333333,0.666667,1.337733
19,8052,20014,1,1,2,0.500000,0.500000,0.999300
20,8053,11151,2,1,3,0.666667,0.333333,2.690342
21,8055,19559,1,1,2,0.500000,0.500000,1.022547
22,8057,21786,1,1,2,0.500000,0.500000,0.918021
23,8064,3622,1,0,1,1.000000,0.000000,2.760906

In [9]:
fig = px.scatter_matrix(df_new)
fig.update_xaxes(tickangle=45)
fig.update_yaxes(tickangle=45)
fig.show()

In [ ]:
Strategy1:

In [76]:
df_low_density_areas=df_new[df_new["density of stores"]<=np.mean(df_new["density of stores"])]
df_low_density_areas
df_high_density_areas=df_new[df_new["density of stores"]>np.mean(df_new["density of stores"])]
df_high_density_areas

,zipcode,population,store_count_migros,store_count_coop,total_stores,migros_share,coop_share,density of stores
0,8001,5468,3,5,8,0.375000,0.625000,14.630578
1,8002,9696,2,2,4,0.500000,0.500000,4.125413
4,8005,15555,4,6,10,0.400000,0.600000,6.428801
6,8008,17254,4,4,8,0.500000,0.500000,4.636606
10,8041,8200,2,1,3,0.666667,0.333333,3.658537
12,8045,11117,1,3,4,0.250000,0.750000,3.598093

In [99]:
fig = px.scatter(df_new, x='zipcode', y='density of stores', color='density of stores')
fig.update_traces(marker=dict(size=15,line=dict(width=2,color='DarkSlateGrey')), selector=dict(mode='markers'))
fig.update_traces(name="migros stores count", marker=dict(color=['LightGrey' if val > np.mean(df_new["density of stores"]) else 'red' for val in df_new['density of stores']]))
fig.update_layout(plot_bgcolor="white",xaxis_title="ZIPCODE",yaxis_title="Density of total stores(total_stores/10K)", 
                  title_text="Scatter plot of density of stores per zipcode")

fig.show()

D:\Anaconda\envs\ds_toolkit\lib\site-packages\numpy\core\numeric.py:2463: FutureWarning:

elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison

In [100]:
fig.write_image("fig7.svg")

In [ ]:
average=df_new["total_stores"].mean()/df_new["population"].mean()
potential=(average*df_new["population"])-df_new["total_stores"]
df_new["potential"]= round(potential)
df_new

In [103]:
fig = go.Figure(data=[go.Bar(x=df_new["zipcode"], y=df_new["potential"], name="Migros potential to open stores", marker_color="Orange")])
fig.update_layout(xaxis_title="Zipcode",yaxis_title="Potential stores(Number of more stores migros can open",
                  title_text="Potential new stores based on store density and less stores in the area",
                  plot_bgcolor="white", xaxis_tickangle=45)
fig.show()

In [123]:
fig = px.scatter(df_new, x='zipcode', y='density of stores', color='density of stores')
fig.update_traces(marker=dict(size=15,line=dict(width=2,color='DarkSlateGrey')), selector=dict(mode='markers'))
fig.update_traces(name="migros stores count", marker=dict(color=['LightGrey' if val > np.mean(df_new["density of stores"]) else 'red' for val in df_new['density of stores']]))
fig.update_layout(plot_bgcolor="white",xaxis_title="ZIPCODE",yaxis_title="Density of total stores(total_stores/10K)", 
                  title_text="Scatter plot of density of stores per zipcode<br><span style='color:Grey'> Grey- High Density Areas</span><br><span style='color:Red'> Red-  Low Density Areas</span>")
fig.add_trace(go.Scatter(x=df_new["zipcode"],y=df_new["store_count_migros"], name="Migros store count", marker_color="Orange", mode="markers",marker_size=10))
fig.add_trace(go.Scatter(x=df_new["zipcode"],y=df_new["store_count_coop"], name="COOP store count", marker_color="Yellow", mode="markers",marker_size=10))
fig.show()

D:\Anaconda\envs\ds_toolkit\lib\site-packages\numpy\core\numeric.py:2463: FutureWarning:

elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison

In [124]:
fig.write_image("fig8.svg")

In [ ]:
fig = px.scatter(df_new, x="population", y="total_stores", color="zipcode",size="total_stores")
fig.show()

In [117]:
average=df_new["total_stores"].sum()/df_new["population"].sum()
potential=(average*df_new["population"])-df_new["total_stores"]
df_new["potential"]= round(potential)
df_new

,zipcode,population,store_count_migros,store_count_coop,total_stores,migros_share,coop_share,density of stores,potential
0,8001,5468,3,5,8,0.375000,0.625000,14.630578,-7.0
1,8002,9696,2,2,4,0.500000,0.500000,4.125413,-2.0
2,8003,20210,1,2,3,0.333333,0.666667,1.484414,2.0
3,8004,26855,3,3,6,0.500000,0.500000,2.234221,0.0
4,8005,15555,4,6,10,0.400000,0.600000,6.428801,-6.0
5,8006,18284,1,2,3,0.333333,0.666667,1.640779,1.0
6,8008,17254,4,4,8,0.500000,0.500000,4.636606,-4.0
7,8032,17921,0,1,1,0.000000,1.000000,0.558005,3.0
8,8037,16008,2,2,4,0.500000,0.500000,2.498751,-0.0
9,8038,17634,2,2,4,0.500000,0.500000,2.268345,0.0
10,8041,8200,2,1,3,0.666667,0.333333,3.658537,-1.0
11,8044,11334,1,1,2,0.500000,0.500000,1.764602,1.0
12,8045,11117,1,3,4,0.250000,0.750000,3.598093,-1.0
13,8046,25366,1,2,3,0.333333,0.666667,1.182685,3.0
14,8047,20818,3,3,6,0.500000,0.500000,2.882121,-1.0
15,8048,30033,2,6,8,0.250000,0.750000,2.663737,-1.0
16,8049,23706,1,4,5,0.200000,0.800000,2.109171,1.0
17,8050,29922,1,6,7,0.142857,0.857143,2.339416,0.0
18,8051,22426,1,2,3,0.333333,0.666667,1.337733,2.0
19,8052,20014,1,1,2,0.500000,0.500000,0.999300,3.0
20,8053,11151,2,1,3,0.666667,0.333333,2.690342,-0.0
21,8055,19559,1,1,2,0.500000,0.500000,1.022547,3.0
22,8057,21786,1,1,2,0.500000,0.500000,0.918021,3.0
23,8064,3622,1,0,1,1.000000,0.000000,2.760906,-0.0

In [119]:
fig = go.Figure(data=[go.Bar(x=df_new["zipcode"], y=df_new["potential"], name="Migros potential to open stores", marker_color="Orange")])
fig.update_layout(xaxis_title="Zipcode",yaxis_title="Potential stores(Number of more stores migros can open",
                  title_text="Potential new stores based on store density and less stores in the area",
                  plot_bgcolor="white", xaxis_tickangle=45)
fig.show()
fig.write_image("fig9.svg")

In [82]:
fig.write_image("fig8.png")

In [ ]:
Strategy 2:

In [ ]:
Bar plots Based on counts of stores

In [107]:
fig = go.Figure(data=[go.Bar(x=df_new["zipcode"], y=df_new["store_count_migros"], name="Migros"),
                     go.Bar(x=df_new["zipcode"], y=df_new["store_count_coop"],name="COOP")])
fig.show()

In [ ]:
Bar plots Based on market share of stores

In [108]:
fig = go.Figure(data=[go.Bar(x=df_new["zipcode"], y=df_new["migros_share"], name="Migros Market share"),
                     go.Bar(x=df_new["zipcode"], y=df_new["coop_share"],name="COOP Market Share")])
fig.show()

In [80]:
fig.write_image("fig3.png")

In [ ]:
Plots where Migros_share >Coop Share

In [109]:
df_migros_share=df_new[df_new["migros_share"]>df_new["coop_share"]]
fig = go.Figure(data=[go.Bar(x=df_migros_share["zipcode"], y=df_migros_share["migros_share"], name="Migros Market share"),
                     go.Bar(x=df_migros_share["zipcode"], y=df_migros_share["coop_share"],name="COOP Market Share")])

fig.update_layout(
    
)
fig.show()

In [ ]:
Plots where Migros_share < Coop Share-- Case 3- Showing Potential Upcoming Migros

In [82]:
df_coop_share=df_new[df_new["migros_share"]<df_new["coop_share"]]
fig = go.Figure(data=[go.Bar(x=df_coop_share["zipcode"], y=df_coop_share["migros_share"], name="Migros Market share"),
                     go.Bar(x=df_coop_share["zipcode"], y=df_coop_share["coop_share"],name="COOP Market Share")])
fig.show()

In [111]:
df_coop_share=df_new[df_new["migros_share"]<df_new["coop_share"]]
fig = go.Figure(data=[go.Bar(x=df_coop_share["zipcode"], y=df_coop_share["population"], 
                             name="Population")])
fig.update_layout(xaxis_title="Zipcode",yaxis_title="Population",title_text="Population for selected zip codes where coop share> migros share")
fig.show()

In [112]:
average_pop=df_new["population"].mean()
average_pop

17652.956521739132

In [114]:
df_potential=df_coop_share[df_coop_share["population"]>average_pop]
df_potential

,zipcode,population,store_count_migros,store_count_coop,total_stores,migros_share,coop_share,potential
2,8003,20210,1,2,3,0.333333,0.666667,2.0
5,8006,18284,1,2,3,0.333333,0.666667,2.0
12,8046,25366,1,2,3,0.333333,0.666667,3.0
14,8048,30033,2,6,8,0.250000,0.750000,-1.0
15,8049,23706,1,4,5,0.200000,0.800000,1.0
16,8050,29922,1,6,7,0.142857,0.857143,0.0
17,8051,22426,1,2,3,0.333333,0.666667,3.0

In [115]:
fig = go.Figure(data=[go.Bar(x=df_potential["zipcode"], y=df_potential["potential"], name="Migros potential to open stores")])
fig.update_layout(xaxis_title="Zipcode",yaxis_title="Potential stores(Number of more stores migros can open",title_text="Potential new stores based on high competitor stores and high population")
fig.show()

In [63]:
fig.write_image("fig6.png")

In [ ]:
Case 2- Where both stores are same

In [116]:
df_equal_share=df_new[df_new["migros_share"]==df_new["coop_share"]]
fig = go.Figure(data=[go.Bar(x=df_equal_share["zipcode"], y=df_equal_share["migros_share"], name="Migros Market share"),
                     go.Bar(x=df_equal_share["zipcode"], y=df_equal_share["coop_share"],name="COOP Market Share")])
fig.show()

In [98]:
pip install kaleido

Requirement already satisfied: kaleido in d:\anaconda\envs\ds_toolkit\lib\site-packages (0.2.1)
Note: you may need to restart the kernel to use updated packages.

In [51]:
fig.write_image("fig2.png")