In [1]:
import numpy as np
import pandas as pd

In [2]:
population = pd.read_csv('zurich_city_2021.csv')
population.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   zipcode     25 non-null     int64
 1   population  25 non-null     int64
dtypes: int64(2)
memory usage: 528.0 bytes

In [3]:
migros = pd.read_csv('zurich_migros.csv')
migros.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   24 non-null     int64
 1   zip_code     24 non-null     int64
 2   store_count  24 non-null     int64
dtypes: int64(3)
memory usage: 704.0 bytes

In [4]:
coop = pd.read_csv('coop_shops.csv')
coop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130 entries, 0 to 129
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   plz          130 non-null    int64
 1   store_count  130 non-null    int64
dtypes: int64(2)
memory usage: 2.2 KB

In [5]:
all_df = population.merge(migros,left_on='zipcode',right_on='zip_code',how='left')
all_df.drop(columns=['Unnamed: 0','zip_code'],inplace=True)
all_df=all_df.merge(coop,left_on='zipcode',right_on='plz',how='left',suffixes=('_migros','_coop'))
all_df.columns

Index(['zipcode', 'population', 'store_count_migros', 'plz',
       'store_count_coop'],
      dtype='object')

In [11]:
all_df[['store_count_migros','store_count_coop']]=all_df[['store_count_migros','store_count_coop']].fillna(0,inplace=True)
all_df

/var/folders/mg/h80s53gx1x9g38rlj6l3g2bh0000gn/T/ipykernel_36809/2830122150.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_df[['store_count_migros','store_count_coop']].fillna(0,inplace=True)

    zipcode  population  store_count_migros  store_count_coop
0      8000        1680                 NaN               NaN
1      8001        5468                 3.0               5.0
2      8002        9696                 2.0               2.0
3      8003       20210                 1.0               2.0
4      8004       26855                 3.0               3.0
5      8005       15555                 4.0               6.0
6      8006       18284                 1.0               2.0
7      8008       17254                 4.0               4.0
8      8032       17921                 NaN               1.0
9      8037       16008                 2.0               2.0
10     8038       17634                 2.0               2.0
11     8041        8200                 2.0               1.0
12     8044       11334                 1.0               1.0
13     8045       11117                 1.0               3.0
14     8046       25366                 1.0               2.0
15     8047       20818                 3.0               3.0
16     8048       30033                 2.0               6.0
17     8049       23706                 1.0               4.0
18     8050       29922                 1.0               6.0
19     8051       22426                 1.0               2.0
20     8052       20014                 1.0               1.0
21     8053       11151                 2.0               1.0
22     8055       19559                 1.0               1.0
23     8057       21786                 1.0               1.0
24     8064        3622                 1.0               NaN

In [9]:
all_df[['store_count_migros','store_count_coop']]=all_df[['store_count_migros','store_count_coop']].astype(int)

all_df

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer